.main__find-new-book-button {
    height: 100%;
    font-size: 1rem;
    padding: 1.2em 1.2em;

    background-color: #8737FA;
    color: white;
    border-width: 0;
    border-radius: 0.2em;
    margin-top: 1em;
}

@media screen and (max-width: 1024px) {
    .main__find-new-book-button {
        font-size: 1.6rem;
        padding: 1em 1.5em;
    }
}